.modalWrap {
  visibility: hidden;
  opacity: 0;
  z-index: -9999;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  background-color: rgba(13, 34, 31, 0.9);
  transition: all 0.3s ease-in-out;
  padding: 3em 0;
  overflow-y: scroll;
  overflow-x: hidden;
  &.active {
    visibility: visible;
    opacity: 1;
    z-index: 9999;
    transition: all 0.3s ease-in-out;
  }
  .modal {
    min-height: 100px;
    margin: 0 auto;
    width: 90%;
    border-radius: 30px;
    font-size: 0.8em;
    overflow: hidden;
    position: relative;
    @media screen and (max-width: 767px) {
      border-radius: 10px;
    }
  }
  .close {
    text-align: center;
    color: var(--main);
    cursor: pointer;
    position: absolute;
    bottom: 1em;
    left: 50%;
    transform: translateX(-50%);
  }
  .ban {
    width: 3em;
    height: 3em;
    cursor: pointer;
    position: absolute;
    top: 8%;
    right: 3%;
    @media screen and (max-width: 767px) {
      top: 6%;
      right: 3%;
    }
    &.privPs {
      @media screen and (max-width: 767px) {
        top: 13%;
        right: 4%;
      }
    }

    .banBo {
      background-color: var(--lett);
      width: 2.4em;
      height: 0.15em;
    }
    .banBo:nth-child(1) {
      transform: rotate(45deg);
    }
    .banBo:nth-child(2) {
      transform: translateY(-0.2em) rotate(-45deg);
    }
  }
  .closeButton {
    position: absolute;
    top: 1em;
    right: 1em;
    img {
      width: 1.5em;
    }
  }
}
