.kv {
  width: 100vw;
  height: 100vh;

  .kvContents {
    width: 90%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .kvLogo {
    width: 64%;
  }

  .kvImage {
    width: 56%;
  }

  //装飾
  .kvEllipse {
    opacity: 70%;
    width: 70%;
    filter: blur(2em);
    top: 40%;
    left: 50%;
    transform: translate(-50%, -70%);
    z-index: -1;
  }

  .kvEllipseLeft {
    opacity: 60%;
    width: 32%;
    filter: blur(1em);
    top: 50%;
    left: 0%;
    transform: translate(-50%, -30%);
    z-index: -1;
  }

  .kvEllipseRight {
    opacity: 40%;
    width: 32%;
    filter: blur(1em);
    top: 0%;
    right: 0%;
    transform: translate(50%, -70%);
    z-index: -1;
  }

  .kvCharcterLeft {
    width: 16%;
    top: 60%;
    left: 0%;
    transform: translate(50%, 0%);
    z-index: -1;
  }

  .kvCharcterRight {
    width: 16%;
    top: 50%;
    right: 0%;
    transform: translate(-50%, 0%);
    z-index: -1;
  }

  .kvEllipseBottom {
    opacity: 30%;
    width: 48%;
    filter: blur(1em);
    bottom: -10%;
    right: 0%;
    transform: translate(40%, 20%);
    z-index: -1;
  }
}

//About
.aboutText {
  justify-content: center;
  p {
    padding: 0 1.3em;
  }
}

.aboutDes:nth-child(1) {
  width: 50%;
  margin-top: 10em;
}

.aboutDes:nth-child(2) .aboutDes:nth-child(3) {
  width: 50%;
  margin-top: 16em;
}

.aboutDes:last-child {
  margin-top: 10em;
}

.aboutDesTi {
  width: 100%;
  margin-top: 16em;
}

.charcter3 {
  width: 24%;
  top: 0%;
  right: 0%;
  transform: translate(-10%, 0%);
}

.charcter4 {
  width: 24%;
  bottom: 0%;
  left: 0%;
  transform: translate(0%, -20%);
}

.charcter5 {
  width: 20%;
  bottom: -20%;
  left: 0%;
  transform: translate(-10%, 20%);
}

.charcter6 {
  width: 28%;
  bottom: 0%;
  right: 0%;
  transform: translate(30%, 70%);
}

.charcter7 {
  width: 20%;
  top: 0%;
  right: 0%;
  transform: translate(30%, 70%);
}

.ellipse77 {
  opacity: 0.4;
  width: 72%;
  filter: blur(1em);
  top: 0%;
  left: 50%;
  transform: translate(-50%, -36%);
  z-index: -1;
}

.brain {
  width: 50%;
  top: 0%;
  left: 50%;
  transform: translate(-50%, 0%);
}

.meritColumn {
  align-items: center;
}

.merit {
  width: 24%;
}

.meritPic {
  width: 27%;
  bottom: 0%;
}

.meritPic:nth-child(1) {
  left: 0%;
}

.meritPic:nth-child(3) {
  right: 0%;
}

//ボタン
.button {
  opacity: 0.4;
  background-color: var(--lett);
  white-space: nowrap;
  border-radius: 9999em;
  height: 1.7em;
  p {
    white-space: nowrap;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  &.siteButton {
    width: 10em;
  }
  &.reviewButton {
    width: 7em;
  }
  &.newsButton {
    width: 8em;
  }
}

//ディスクリプション
.description {
  .aboutMedia {
    align-items: flex-start;
    justify-content: space-between;
  }

  .descriptionText {
    width: 70%;
    margin: 0.7em 0 0 auto;
  }

  .howToText {
    width: 50%;
  }

  .howToImg {
    width: 70%;
  }

  .howToBorder {
    width: 120%;
    bottom: -10%;
    right: 0%;
    transform: translateX(20%);
  }
}

//IMPRESSENSEを使ってみた
.review {
  width: 89%;

  .reviewEllipseLeft {
    opacity: 0.5;
    filter: blur(2em);
    width: 36%;
    top: -10%;
    left: -16%;
    z-index: -1;
  }

  .sliderBack {
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 1em;
    padding: 1em;
  }

  .reviewEllipseRight {
    opacity: 0.4;
    filter: blur(2em);
    width: 24%;
    bottom: -10%;
    right: -10%;
    z-index: 0;
  }
}

.news {
  width: 90%;
  justify-content: space-between;

  .newsColumn {
    justify-content: space-between;
    flex-wrap: wrap;
    width: 80%;
  }

  .newsDetail {
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 1em;
    width: 47%;
    padding: 1em;

    .newsPic {
      border-radius: 1em;
    }
  }

  .newsDetail:nth-child(n + 3) {
    margin-top: 2.4em;
  }
}
.verticalTitle {
  justify-content: space-between;
  writing-mode: vertical-rl;
  h1 {
    letter-spacing: 0.2em;
    font-size: 4em;
  }
}
